
<main class="container">
  <div class="heading">
    <h1 class="title">Job Portal</h1>
  </div>

<div class="navbar">
    <button mat-raised-button color="primary" routerLink="/show-jobs" style="margin-right: 12px;"> Show Jobs</button>
    <button mat-raised-button color="accent" routerLink="/create-jobs"  >Create Jobs</button>
    <button mat-raised-button color="warn" routerLink="/update-jobs" style="margin-left: 12px;">Update Jobs</button>
</div>



  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</main>
